body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #29282f, #010102);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: #293c9e;
    margin-bottom: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

h6 {
    font-size: 18px;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
    font-style: italic;
}

button {
    background:#293c9e;
    color: black;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background:#0f1e6b;
    transform: scale(1.05);
}

p {
    font-size: 20px;
    margin-top: 30px;
}

#totalBiscuits {
    font-weight: bold;
    color: #293c9e;
}

#bps {
    font-weight: bold;
    color: #293c9e;
}

#slaves {
    font-weight: bold;
    color: #293c9e;
}
