body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #29282f, #010102);
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    font-size: 50px;
    color: #293c9e;
    margin-bottom: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

h6 {
    font-size: 18px;
    color: #666;
    margin-top: 0;
    margin-bottom: 20px;
    font-style: italic;
}

button {
    background: #293c9e;
    color: black;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover {
    background: #0f1e6b;
    transform: scale(1.05);
}

p {
    font-size: 20px;
    margin-top: 30px;
}

#totalBiscuits,
#bps,
#slaves,
#plantations {
    font-weight: bold;
    color: #293c9e;
}

#upgrade-container {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upgrade-tab {
    background: #293c9e;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.upgrade-tab:hover {
    background: #0f1e6b;
    transform: scale(1.05);
}

#reset {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff3b3b;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#reset:hover {
    background: #cc3030;
}

#testing {
    position: absolute;
    top: 60px;
    left: 10px;
    background: #3b83ff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#testing:hover {
    background: #306bcc;
}